
@font-face {
    font-family: Roboto;
    /*src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap);
     */
}

.text-field{
    -fx-background-color: white;
    -fx-border-color: rgb(180,180,180);
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.table-view{
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.table-view .column-header {
    -fx-background-color: #49A3AE;
    -fx-background-radius: 7px 7px 0px 0px;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-alignment: left;
    -fx-font-alignment: left;
}

.table-view .column-header-background {
    -fx-background-color: #49A3AE;
    -fx-background-radius: 7px 7px 0px 0px;
}

.table-row-cell{
    -fx-pref-height: 30;
}

.table-row-cell:focused{
    -fx-text-background-color: black;
}

.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: red;
}

.table-row-cell:odd{
    -fx-background-color: #C2D5D8;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 2;
}
.table-row-cell:even{
    -fx-background-color: #FFFFFF;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 2;
}
.table-row-cell:focused{
    -fx-font-style: bold;
}
/* OTHER SHIT
 */
