
@font-face {
    font-family: Roboto;
    src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap);

}

.background{
    -fx-background-color: #E5E5E5;

}


.pane{
    -fx-background-radius: 20 20 20 20;
    -fx-background-color: #E2E2E2;
    -fx-effect: dropShadow(gaussian, rgba(0,0,0,0.10), 16, 0, 4, 0);
}
.squareButton{
    -fx-effect: dropShadow(gaussian, rgba(0,0,0,0.10), 8, 0, 4, 4);
    -fx-cursor: hand;
    -fx-shape: "m 0 22 L 47 3 C 53 1 53 -1 47 -3 L 0 -22 L -48 -3 C -53 -1 -53 1 -48 3 Z";
}
.roomButton{
    -fx-background-color: #FFFFFF;
    -fx-effect: dropShadow(gaussian, rgba(0,0,0,0.10), 16, 0, 4, 0);
    -fx-background-radius:  15 15 15 15;
}

.scroll-pane{
    -fx-background: #E2E2E2;
}
.message-button{
    -fx-background-color: #FFFFFF;
    -fx-effect: dropShadow(gaussian, rgba(0,0,0,0.10), 16, 0, 4, 0);
    -fx-background-radius:  15 15 15 15;
}
.pending-button{
    -fx-background-color: #F3CBB8;
    -fx-text-fill: #655555;
}
.progress-button{
    -fx-background-color: #EADA8D;
    -fx-text-fill: #655555;
}
.nurse-button{
    -fx-background-color: #609EA4;
    -fx-font-size: 25;
}